{% extends 'management/base.html' %} {% load crispy_forms_tags %} {% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Liste des Clients</h1>
    <a href="{% url 'management:customer_create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Nouveau Client </a>
</div>



<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste des Clients</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nom et Prenom</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Statut</th>
                        <th>Details</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td> {{customer.nom_complet}} </td>
                        <td>{{customer.telephone}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.adresse}}</td>
                        <td>{{customer.statut}}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-success btn-block" href=" {% url 'management:customer_details' customer.pk %} " class="">Details</a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-warning btn-block" href=" {% url 'management:customer_update' customer.pk %} " class="">Modifier</a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-danger btn-block" href=" {% url 'management:customer_delete' customer.pk %} ">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}