{% extends 'management/base.html' %} {% load crispy_forms_tags %} {% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Liste du Personnel</h1>
    <a href="{% url 'management:user_create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Nouveau Membre </a>
</div>



<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste du Personnel</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>email</th>
                        <th>Dernière connexion</th>
                        <th>Admin</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td> {{user.username}} </td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.last_login}}</td>
                        <td>{{user.is_staff}}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-warning btn-block" href=" {% url 'management:user_update' user.pk %} " class="">Modifier</a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-danger btn-block" href=" {% url 'management:user_delete' user.pk %} ">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}